main {
    max-width: 500px;
    width: 90%;
    margin: 20px auto;

    font-family: monospace;
}

form > *, error-message {
    display: block;
}

error-message {
    color: red;
}

input {
    display: block;
    width: 100%;
    padding: 2px 8px;
    margin: 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #212121;
}

input-group {
    display: block;
    margin: 10px 0;
}

#f-login {
    max-width: 300px;
}